.main {  
    overflow-y: auto; /*enables scrolling only on this part. navbar,sidebar,and header remain shown */
    grid-template-columns: 1fr;
    grid-template-rows:  1fr;
    grid-area: main;
}
.switches {
    display: flex;
    flex-direction: row; /* Align children vertically */
    justify-content: center; /* Center the children horizontally in the container */
    align-items: center; /* Align the children vertically at the center */
    width: 70px; /* Take full width to accommodate children */
    max-height: 40px;
    gap: 10px;
    margin-left: 525px;
    border-radius: 15%;
    padding:10px;
    background-color: #0f1312;
}
.switch-container svg{
    width: 20px;
    height: 20px;
    padding: 2px;
    border-radius: 50%;
    color: white;
}
.switch-container:hover svg{
    color: black;
    background-color: #CAF746;
}
.switch-container.active svg{
    color: #CAF746;
    background-color: white;
}

.analysis {
    display: flex;
    flex-direction: column; /* Align children vertically */
    align-items: left; /* Align the children vertically at the center */
    width: 100%; /* Take full width to accommodate children */
}
.square-row{
    display: flex;
    flex-direction: row;
    justify-content: content;
    width: 80%;
}
.square {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 30%; /* Adjusted to percentage */
    height: auto; /* Maintain aspect ratio */
    background-color: #0f1312;
    box-shadow: 5px 5px 10px black;
    margin: 2%; /* Adjusted to percentage */
    border-radius: 30px;
}

.square1 {
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 55%; /* Adjusted to percentage */
    height: auto; /* Maintain aspect ratio */
    border-radius: 30px;
    box-shadow: 5px 5px 10px black;
    justify-content: left;
    padding-right: 10%; /* Adjusted to percentage */
    margin: 2%; /* Adjusted to percentage */
}

.square2 {
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 80%; /* Adjusted to percentage */
    height: auto; /* Maintain aspect ratio */
    border-radius: 30px;
    box-shadow: 5px 5px 10px black;
    justify-content: left;
    margin: 2%; /* Adjusted to percentage */
}

.square-text {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    max-height: 5%;
    font-style: normal;
    margin-left: 5%; /* Adjusted to percentage */
    margin-right: 5%; /* Adjusted to percentage */
}

#num.square-text {
    position: absolute;
    margin-top: 1%;
    margin-left: 8.5%; /* Adjusted to percentage */
    font-size: 8vw; /* Adjusted to viewport width for responsiveness */
    font-style: normal;
    color: white; 
    text-shadow: 5px 5px 0px #cdfb47;
}

#image1 {
    width: 50%; /* Maintain aspect ratio */
    height: auto; /* Maintain aspect ratio */
}

@media (min-width: 768px) {
    /* Adjust font size and alignment for medium screens */
    .square-text {
        font-size: 24px; /* Adjust as needed */
        width: 70px; /* Adjust as needed */
        height: auto; /* Adjust as needed */
    }
}

@media (min-width: 1024px) {
    /* Adjust font size and alignment for large screens */
    .square-text {
        font-size: 28px; /* Adjust as needed */
        width: 80px; /* Adjust as needed */
        height: auto; /* Adjust as needed */
    }
}