<html lang="en">
<head>
    <link href="/css/home.css" rel="stylesheet"/>
</head>
<body>
    <%- include("partials/header.ejs") %>
    <div>
      <h1>OOPS, page not found :)</h1>
    </div>

</body>

</html>