<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="css/front.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Front</title>
</head>
<body>
<div class="container">
  <div class="navbar">
    <img src="./images/logo.png">
    <a href="./login">Home</a>
    <a href="#about">About</a>
    <a href="#features">Features</a>
    <a href="./login">
      <img src="./images/contact icon.png">
    </a>

  </div>
  <div class="content">
    <img src="./images/front-removebg-preview.png">
    <h1>Discover your best self at <br> HabitHarbor<br><p>Our Aim is to help users to change their bad habits <br>into a good one in a healthy way.</p><a href="./signup"><button>Start Today</button></a></h1>
  </div>
</div>
<br>
<br>
<div class="About" id="about">
  <h1>About</h1>
  <p>Empowering individuals on their journey to wellness through a range of features:<br>
    Access curated resources for valuable insights, foster a vibrant community for support
    and celebration, explore diverse daily challenges for motivation, utilize a badge system
    for recognition, track progress comprehensively to stay motivated.</p>
  
  <p>Our mission is to inspire and empower individuals to lead healthier lives by providing
    innovative tools and resources. We believe in the power of community, education,
    and continuous improvement to make lasting changes. Join us in creating habits
    that lead to a happier, healthier you!</p>
</div>



<br>
<br>

<div class="Features" id="features">
  <h1>Features </h1>
  <div class="features-container">
    <div class="feature">
      <img src="./images/resources.png">
      <p>Access curated resources to empower users with valuable information and insights.</p>
    </div>
    
    <div class="feature">
      <img src="./images/community.png">
      <p>Foster a vibrant community where users can connect, support each other, and celebrate achievements together.</p>
    </div>
    
    <div class="feature">
      <img src="./images/challenges.png">
      <p>Explore a diverse range of daily activities and challenges designed to inspire and motivate users on their journey to adopting healthier habits.</p>
    </div>
    
    <div class="feature">
      <img src="./images/badge.png">
      <p>Utilize our badge system that rewards users for their accomplishments, providing recognition and motivation for every milestone achieved.</p>
    </div>
    
    <div class="feature">
      <img src="./images/callender.png">
      <p>Utilize a comprehensive tracker to monitor progress and track habits, empowering users to reflect on their journey and stay motivated.</p>
    </div>
    
  </div>
</div>


<footer>
  <ul class="social_icon">
    <li><a href="#"><ion-icon name="logo-facebook"></ion-icon></a></li>
    <li><a href="#"><ion-icon name="logo-twitter"></ion-icon></a></li>
    <li><a href="#"><ion-icon name="logo-linkedin"></ion-icon></a></li>
    <li><a href="#"><ion-icon name="logo-instagram"></ion-icon></a></li>
  </ul>
  <ul class="menu">
    <li><a href="./login">Home</a></li>
    <li><a href="#features">Services</a></li>
    <li><a href="#">Team</a></li>
    <li><a href="mailto:HabitHarbor2024@gmail.com">Contact</a></li>

  </ul>
  <p>@2024 HabitHarbor|All Rights Reserved </p>
</footer>



</body>
</html>