<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="/css/password.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <%- include("partials/header.ejs") %>
        <%- include("partials/navbar.ejs") %>
        
        <div class="user-profile">
            <form id="changePasswordForm" action="/password" method="POST">
                <div class="password-section">
                    <label for="currentPassword">Current Password:</label>
                    <div class="password-container">
                        <input type="password" id="currentPassword" name="currentPassword" required>
                        <div class="password-checkbox-container">
                            <input type="checkbox" id="showCurrentPassword" class="checkbox-custom">
                            <label for="showCurrentPassword" class="checkbox-label">Show Password</label>
                        </div>
                        <div class="error" id="currentPasswordError"></div>
                    </div>
                </div>
                <div class="password-section">
                    <label for="newPassword">New Password:</label>
                    <div class="password-container">
                        <input type="password" id="newPassword" name="newPassword" required>
                        <div class="password-checkbox-container">
                            <input type="checkbox" id="showNewPassword" class="checkbox-custom">
                            <label for="showNewPassword" class="checkbox-label">Show Password</label>
                        </div>
                        <div class="error" id="newPasswordError"></div> 
                    </div>
                </div>
                <div class="password-section">
                    <label for="confirmPassword">Confirm Password:</label>
                    <div class="password-container">
                        <input type="password" id="confirmPassword" name="confirmPassword" required>
                        <div class="password-checkbox-container">
                            <input type="checkbox" id="showConfirmPassword" class="checkbox-custom">
                            <label for="showConfirmPassword" class="checkbox-label">Show Password</label>
                        </div>
                        <div class="error" id="confirmPasswordError"></div> 
                    </div>
                </div>
                <input type="submit">
            </form>
        </div>
        <script src="\js\password.js"></script>
        <script src="\js\home.js"></script> 
        
        <script>
        showPassword('currentPassword', 'showCurrentPassword');
        showPassword('newPassword', 'showNewPassword');
        showPassword('confirmPassword', 'showConfirmPassword');
        </script>
    </body>
    </html>